.container
  .col-md-10.col-md-offset-1
    %h2.white="Edit #{@account.login} pivotal account"

    = simple_form_for @account, url: pivotal_account_path, html: { method: :put, class: 'form-horizontal' } do |f|
      .form-group.col-md-2.config-form
        = f.input :login, input_html: { class: 'form-control' }
        = f.input :password, input_html: { class: 'form-control' }
        = f.input :jira_filter, input_html: { class: 'form-control' }
        = f.submit class: 'btn btn-primary'
