.container.white.project_block
  = simple_form_for :jira_account do |f|
    .form-group.col-md-2.config-form
      = f.input :name,label:'Jira Login'
      = f.input :password,label:'Jira Password', :as => :string

      = f.input :jira_filter,label:'Jira Filter'
      = f.button :submit

  %h2.text-center Jira Accounts
  .col-md-12
    %table.table.project-table.table-striped
      %thead
        %tr
          %th Id
          %th login
          %th password
          %th filter
          %th Actions
      %tbody
        - @accounts.each_with_index do |account, index|
          %tr
            %td= index + 1
            %td= account.login
            %td= account.password
            %td= account.jira_filter
            %td
              = link_to 'Edit', edit_jira_account_path(account), class: 'btn btn-warning btn-xs'
              = link_to 'Delete', jira_account_url(account), class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' }
