.container.white.project_block.projects-index
  %h2.text-center.col-md-12 Projects
  .col-md-12
    %table.table.project-table.table-striped
      %thead
        %tr
          %th Id
          %th Name
          %th Config Name
          %th Pid
          %th Last Update
          %th Log
          %th Status
          %th Actions
          %th Active
      %tbody
        - @projects.each_with_index do |project, index|
          %tr
            %td= index + 1
            %td= project.config.jira_project
            %td= link_to project.config.try(:name), project_config_path(project.config), class: 'table-link'
            %td= project.pid
            %td= project.last_update
            %td= link_to project.log_name, project_log_path(project.log_name), class: 'table-link'
            %td{ class: "status-#{project.id}" }= project_label(project.worker_status)
            %td
              .col-md-12
                = link_to '#', id: "id-#{project.id}", class: 'action-link white force-sync', data: { project_id: project.id } do
                  %i.fa.fa-refresh
                = link_to project_path(project), id: "id-#{project.id}", class: 'action-link white', method: :delete do
                  %i.fa.fa-times
            %td
              = check_box_tag "active-#{project.id}", project.id, project.active, class: 'project-active', data: { project_id: project.id }
