.container.white.project_block
  %h2.text-center.col-md-12 Projects
  .pull-right.btn-synchronize
    / TODO: Uncoment when finished
    / # = link_to 'New Project', new_project_path, class: 'btn btn-primary btn-large'
    = link_to 'Synchronize Projects', synchronize_projects_path, class: 'btn btn-success btn-large'

  .col-md-12
    %table.table.project-table.table-striped
      %thead
        %tr
          %th Id
          %th Name
          %th Config Name
          %th Pid
          %th Last Update
          %th Log
          %th Status
          %th Actions
      %tbody
        - @projects.each_with_index do |project, index|
          %tr
            %td= index + 1
            %td= project.config.jira_project
            %td= link_to project.config.try(:name), project_config_path(project.config), class: 'table-link'
            %td= project.pid
            %td= project.last_update
            %td= link_to project.log_name, project_log_path(project.log_name), class: 'table-link'
            %td= project_label(project.online)
            %td
              .col-md-12
                - if project.online
                  = link_to stop_project_path(project), class: 'action-link white' do
                    %i.fa.fa-stop
                - else

                = link_to '#', id: "id-#{project.id}", class: 'action-link white sync-project', data: { project_id: project.id } do
                  %i.fa.fa-play
                = link_to '#', id: "id-#{project.id}", class: 'action-link white force-sync', data: { project_id: project.id } do
                  %i.fa.fa-refresh
                = link_to project_path(project), id: "id-#{project.id}", class: 'action-link white', method: :delete do
                  %i.fa.fa-times
